rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.email == 'richkingsford@gmail.com';
    }

    match /company-documents/{userId}/{documentId} {
      allow read, write: if signedIn() && (request.auth.uid == userId || isAdmin());
    }
  }
}
